#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:3px dashed rgb(172, 114, 248);
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

body{
  background-image:url("bg.jpg");  
  background-size: cover;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

         
.btn-grad {
    background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%);
    margin: 10px;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
